<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cb08aea70c3e9290a489e239f854a235 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_cb08aea70c3e9290a489e239f854a235" ></div>
        
</body>
<script>
    
    
            var map_cb08aea70c3e9290a489e239f854a235 = L.map(
                "map_cb08aea70c3e9290a489e239f854a235",
                {
                    center: [51.5074, -0.1278],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0cbe9a6c38f80e308a01db96863652fd = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_0cbe9a6c38f80e308a01db96863652fd.addTo(map_cb08aea70c3e9290a489e239f854a235);
        
    
            var marker_b35be8ba67a099f2f3a687343e0cff80 = L.marker(
                [51.5074, -0.1278],
                {}
            ).addTo(map_cb08aea70c3e9290a489e239f854a235);
        
    
        var popup_5ea741330a54ec596e14cc7a5ab86c22 = L.popup({"maxWidth": "100%"});

        
            
                var html_152174186b3f1fa10f08881492966e16 = $(`<div id="html_152174186b3f1fa10f08881492966e16" style="width: 100.0%; height: 100.0%;">London</div>`)[0];
                popup_5ea741330a54ec596e14cc7a5ab86c22.setContent(html_152174186b3f1fa10f08881492966e16);
            
        

        marker_b35be8ba67a099f2f3a687343e0cff80.bindPopup(popup_5ea741330a54ec596e14cc7a5ab86c22)
        ;

        
    
</script>
</html>